<footer>
    <!--redes sociales-->
    <div class="social">
      <a href="#"
        ><img
          src="https://img.icons8.com/ios/50/ffffff/instagram.png"
          alt="icono a instagram"
      /></a>
      <a href="#">
        <img
          src="https://img.icons8.com/ios-filled/50/ffffff/github.png"
          alt="icono a github"
      /></a>
      <a href="#"
        ><img
          src="https://img.icons8.com/ios/50/ffffff/youtube--v1.png"
          alt="icono a youtube"
      /></a>
    </div>
    <!--copyright-->
    <p><strong> &copy; 2023 4eme twin montasser benouirane</strong></p>
  </footer>