
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<!-- Start header-->
<app-header></app-header>
<!-- End header -->


<div class="container">

<!-- Start sidebar-->
<app-sidebar style="margin-right: -205px;"></app-sidebar>
<!--End sidebar -->

<div class="content" style="margin-right: -180px;">
  <router-outlet></router-outlet>
</div>

</div>


<!-- Start Footer-->
<app-footer></app-footer>
<!-- End Footer-->

<!-- Content container with classes -->


