<div class="side-bar" style="right: 200px;">
  
    <div class="side-menu">
      
      <div class="brand">
        <b style="margin-left: 30px;">Education</b>        
      </div>
       <img src="assets/education.jpg" width="60px" height="60px" style="margin-top: -70px">
      
      <div class="menubuttons">
        <a routerLink="/etudiant"><i class="material-icons">group</i> Etudiant</a>
        <a href=""><i class="material-icons">account_box</i> Enseignant</a>
        <a href=""><i class="material-icons">move_to_inbox</i> Cours</a>
      </div>
      
  </div>
  
</div>